name: Build database
on:
  push:
    branches:
      - master
    paths:
      - 'static/os/**'

jobs:
  build-database:
    runs-on: ubuntu-latest
    container:
      image: archlinux/archlinux:base-devel
    steps:
      - name: Update container image
        run: pacman -Syu --noconfirm
      - name: Install git
        run: pacman -S --needed --noconfirm git
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
      - name: Import GPG key for signing database
        uses: crazy-max/ghaction-import-gpg@e89d40939c28e39f97cf32126055eeae86ba74ec
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.GPG_PASSPHRASE }}
      - name: Add workspace to ownership exception
        run: git config --global --add safe.directory /__w/royarg-repo/royarg-repo
      - name: Run database build script
        run:  ./build-db.sh
      - name: Run overview generation script
        run:  ./generate-overview.sh
      - name: Add & Commit new files
        uses: EndBug/add-and-commit@a94899bca583c204427a224a7af87c02f9b325d5
        with:
          default_author: github_actions
          message: 'Update database'

